<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" hrefc="style.css" />
    <title>node js and express testing</title>
    <style>
      body {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quos
      voluptate sapiente non quasi hic. Sequi quia odit consequatur ex quibusdam
      id ratione. Aperiam, quod veniam dignissimos incidunt voluptatem
      perferendis!
    </p>
  </body>
</html>
